.toast {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 12px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    z-index: 9999;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

.toast-success {
    background-color: #28a745; /* yaşıl */
}

.toast-error {
    background-color: #dc3545; /* qırmızı */
}

.toast-warning {
    background-color: #ffc107; /* sarı */
    color: black;
}

.toast-info {
    background-color: #17a2b8; /* göy */
}
