@using Microsoft.AspNetCore.Components.Authorization
@using ToDoApp.Mobile.App.Services.Concrete
@inject AuthenticationStateProvider authenticationStateProvider;
@inject NavigationManager Navigation

<h3>HeaderComponent</h3>
<button class="btn btn-danger" @onclick="Logout">Logout</button>

@code {
    private async Task Logout()
    {
        var customAuthenticationStateProvider = (CustomAuthenticationStateProvider)authenticationStateProvider;

        // Kimlik doğrulama bilgisini sıfırlıyoruz
        await customAuthenticationStateProvider.UpdateAuthenticationState(null, false);

        // Ana sayfaya yönlendirme
        Navigation.NavigateTo("/Account/Login");
    }
}
